/* breakpoints
xs, extra-small: 0px 
sm,small: 600px 
md, medium: 900px 
lg, large: 1200px
xl, extra-large: 1536px
*/
$font-size_xs: 0.75rem;
$font-size_sm: 0.875rem;
$font-size_md: 1rem;
$font-size_lg: 1.125rem;
$font-size_xl: 1.25rem;
$font-size_xxl: 1.5rem;
$font-size_xxxl: 1.875rem;
$font-size_xxxxl: 2.25rem;
$font-size_xxxxxl: 3rem;
$font-size_xxxxxxl: 4rem;