/* breakpoints
xs, extra-small: 0px 
sm,small: 600px 
md, medium: 900px 
lg, large: 1200px
xl, extra-large: 1536px
*/
$spacing_xs: 0.25rem;
$spacing_sm: 0.5rem;
$spacing_md: 1rem;
$spacing_lg: 1.5rem;
$spacing_xl: 2rem;
$spacing_xxl: 3rem;
$spacing_xxxl: 4rem;
$spacing_xxxxl: 6rem;
